
    
    .card-text {
      margin-top: -1em;
      margin-left: 2em;
       border: none;
    }
    .card-body {
      padding-top: 0em;
    }
    .text-price{
      margin-top: 0.5em;
      margin-left: 0.5em;
      color:black;
      font-weight: bold;
      font-size:3em;
      margin-bottom: 0rem;
      
    }
    

    